body {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 18px;
    line-height: 34px;
    color: #777;
    background: url("../images/skulls.png");
}

/* Navbar */
#navbar {
  position: fixed;  
  font-family: Georgia, Times, "Times New Roman", serif;
  width: 100%;
  margin: 0 0 30px;
  overflow: auto;
  color: #fff;
  background: #F5FAE7;
  border-bottom: 2px solid #ccc;
}

#mainbtn {
  width: 500px;
}

.btn-lg {
  font-size: 30px;
  height: 100px;
  font-weight: 700;
  line-height: 75px;
  color: #fff;
  text-align: center;
  background: #FFBC58;
  border: none;
}

/* Main content */
#maincont {
  padding-top: 150px;
  width: 100%;
  margin: auto;
  margin-bottom: 40px;
}

#mainbox {
  padding-bottom: 30px;
  background: #F5FAE7;
  border: 1px solid #ddd;
}

/* Sidebar */
#connect {
  padding-bottom: 30px;
  
  background: #F5FAE7;
  border: 1px solid #ddd;
}

/* Footer */
#footer {
  width: 100%;
  position: fixed;
  background-color: #F5FAE7;
  font-size: 12px;
}