body {
    font-family: Georgia, Times, "Times New Roman", serif;
    font-size: 18px;
    line-height: 34px;
    color: #777;
    background: url("../images/skulls.png");
}

/* Navbar */
#navbar {
  position: static;  
  width: 100%;
  margin: auto;
  overflow: auto;
  color: #fff;
  background: #F5FAE7;
  border-bottom: 2px solid #ccc;
}

#mainbtn {
  width: 500px;
  margin-left: auto;
}

.btn {
  border-radius: 0;
}

.btn-lg {
  font-size: 28px;
  font-weight: normal;
  height: 100px;
  line-height: 75px;
  color: #fff;
  text-align: center;
  background: #FFBC58;
  border: none;
}

#navbtns {
  padding: 0;
}

.btn-sm {
  font-size: 24px;
  width: 100px;
  height: 60px;
  line-height: 18px;
  color: #fff;
  text-align: center;
  background: #FFBC58;
  border: none;
}


/* Main content */
#maincont {
  padding-top: 40px;
  width: 100%;
  margin-bottom: 40px;
}

#mainbox {
  width: 60%;
  max-width: 1000px;
  margin-left: 100px;
  padding-bottom: 30px;
  background: #F5FAE7;
  border: 1px solid #ddd;
}

/* About Section */

p {
  line-height: 24px;
}

/* Portfolio Section */

.work {
  position: relative;
  float: left;
  width: 274px;
  margin: 0 40px 0 40px;
  overflow: auto;
}


/* Sidebar */
#connect {
  padding-bottom: 30px;
  width: 270px;
  margin-right: 150px;
  background: #F5FAE7;
  border: 1px solid #ddd;
}

/* Footer */
#footer {
  width: 100%;
  position: static;
  background-color: #F5FAE7;
  font-size: 12px;
}



/* Media queries */


@media screen and (max-width: 640px) {
  #navbar {
    position: static;
  }

  #footer {
    position: static;
  }

  #mainbtn {
    width: 100%;
    font-size: 40px;
  }

  #navbtns {
    width: 50%;
    font-size: 20px;
  }

  .btn-lg {
    font-size: 24px;
    height: 50px;
    line-height: 35px;
    width: 100%;
    color: #fff;
    text-align: center;
    background: #FFBC58;
    border: none;
  }

  #maincont {
    padding-top: 75px;
    margin: auto;
  }

  #mainbox {
    float: none;
    width: 100%;
    margin: auto;
    margin-bottom: 30px;
  }

  #connect {
    float: none;
    width: 100%;
    margin: auto;
    margin-bottom: 30px;
  }

}

@media screen and (min-width: 641px) and (max-width: 768px) {

   #navbar {
    position: static;
  }

  #footer {
    position: static;
  }

  #mainbtn {
    width: 100%;
    height: 125px;
    margin-bottom: 25px;
    font-size: 32px;
  }

  .btn-lg {
    width: 33.33333%;
    height: 75px;
  }

  #maincont {
    float: none;
    width: 100%;
    padding-top: 50px;
    margin: auto;
  }

  #mainbox {
    float: none;
    width: 100%;
    margin: auto;
    margin-bottom: 30px;
  }

  #connect {
    float: none;
    width: 100%;
    margin: auto;
    margin-bottom: 30px;
  }

}

@media screen and (min-width: 769px) and (max-width: 980px) {

  #navbar {
    position: static;
  }

  #footer {
    position: static;
  }

  #maincont {
    padding-top: 75px;
    margin: auto;
  }

  #mainbox {
    width: 600px;
    margin: auto;
    margin-bottom: 30px;
  }

  #connect {
    width: 290px;
    margin: auto;
    margin-bottom: 30px;
  }

}