body {
    font-family: Georgia, Times, "Times New Roman", serif;
    font-size: 18px;
    line-height: 34px;
    color: #777;
    background: url("../images/skulls.png");
}

/* Navbar */
#navbar {
  position: fixed;  
  width: 100%;
  margin: auto;
  overflow: auto;
  color: #fff;
  background: #F5FAE7;
  border-bottom: 2px solid #ccc;
}

#mainbtn {
  width: 500px;
  margin-left: auto;
}

.btn-lg {
  font-size: 24px;
  height: 100px;
  line-height: 75px;
  color: #fff;
  text-align: center;
  background: #FFBC58;
  border: none;
}

.btn-sm {
  font-size: 24px;
  height: 30px;
  line-height: 18px;
  color: #fff;
  text-align: center;
  background: #FFBC58;
  border: none;
}

#navbtns {
  
}

/* Main content */
#maincont {
  padding-top: 130px;
  width: 100%;
  margin-bottom: 40px;
}

#mainbox {
  width: 60%;
  max-width: 650px;
  margin-left: 100px;
  padding-bottom: 30px;
  background: #F5FAE7;
  border: 1px solid #ddd;
}

/* Sidebar */
#connect {
  padding-bottom: 30px;
  width: 270px;
  margin-right: 150px;
  background: #F5FAE7;
  border: 1px solid #ddd;
}

/* Footer */
#footer {
  width: 100%;
  position: fixed;
  background-color: #F5FAE7;
  font-size: 12px;
}



/* Media queries */


/* FIXTHE NAVBUTTONS!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
BUTONS*/

@media screen and (max-width: 640px) {
  #navbar {
    position: static;
  }

  #footer {
    position: static;
  }

  #mainbtn {
    width: 100%;
  }

  .btn-lg {
   width: 100%;
  }
  
  #maincont {
    padding-top: 75px;
   margin: auto;
  }

  #mainbox {
    float: none;
    width: 100%;
    margin: auto;
    margin-bottom: 30px;
  }

  #connect {
    float: none;
    width: 100%;
    margin: auto;
    margin-bottom: 30px;
  }

}

@media screen and (min-width: 641px) and (max-width: 768px) {

   #navbar {
    position: static;
  }

  #footer {
    position: static;
  }

  #mainbtn {
    width: 100%;
    height: 125px;
    margin-bottom: 25px;
  }

  .btn-lg {
    width: 33.33333%;
    height: 75px;
  }

  #maincont {
    padding-top: 75px;
    margin: auto;
  }

  #mainbox {
    float: none;
    width: 100%;
    margin: auto;
    margin-bottom: 30px;
  }

  #connect {
    float: none;
    width: 100%;
    margin: auto;
    margin-bottom: 30px;
  }

}

@media screen and (min-width: 769px) and (max-width: 980px) {

  #navbar {
    position: static;
  }

  #footer {
    position: static;
  }

  #maincont {
    padding-top: 75px;
    margin: auto;
  }

  #mainbox {
   
    width: 625px;
    margin: auto;
    margin-bottom: 30px;
  }

  #connect {
  
    width: 290px;
    margin: auto;
    margin-bottom: 30px;
  }

}